.container-profile {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.container-about{
  display: grid;
  grid-template-columns: 50% 50%; 
  text-align: center;
  margin-top: 5rem;
  font-size: 2vh;
  font-family: 'Quicksand', sans-serif;
  height: 15em;
  text-align: left;
  align-self: flex-start;
  padding: 250px;
  background-image: linear-gradient(
    to right bottom, 
    #de7119,
    #d8d6d6);
}

.style-aboutme{
  font-size: 70px;
  margin: 0 auto;
  margin-left: 2em;
  padding: 10%;
  text-transform: uppercase;
}
