/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');


body {
  padding: 10px;
}

.container-home{
  display: flex;
  flex-direction: row;
  padding-left: 15rem;
  padding-top: 25rem;
  padding-right: 10rem;
  background-image: linear-gradient(
    to right bottom, 
    #bbbbbb, 
    #de7119);
  background-repeat: no-repeat;
  /* margin-top: 5rem; */
  position: relative;
  height: 47vh;
  overflow: hidden;
  box-shadow: -5px 10px 12px rgb(148, 146, 146);
}

.firstName {
  width: 47rem;
  text-align: left;
  color: black;
  font-size: 3.7em;
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow: 0 3px 0 rgba(202, 202, 202, 0.5);
}

.lastName {
  text-align: left;
  color: #de7119;
  font-size: 3.7rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.title{
  text-align: left;
  font-size: 2.7rem;
  width: 100em;
  color: rgb(7, 7, 7);
  font-family: 'Noto Sans JP', sans-serif;
}

.container-letter{
  width: 40%;
  height: 30%;
}


.container-photo{
  margin: 0 auto;
  margin-left: 30rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
}

.image{
  margin: 0 auto;
  width: 100%;
  filter: drop-shadow(10px 5px 25px rgb(189, 105, 9));
}

.container-icons {
  /* margin-right: 10em; */
}

.container-icons ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 8em;
  width: 50%;
}

.container-icons li {
  font-size: 1.5em !important;
}

a {
  text-decoration: none; 
  color: black;
}

.button-contact{
  background:  #de7119;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  padding:7px 17px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
  box-shadow: 5px 5px 5px rgb(65, 63, 63);
}

.change-animation:before{
  content: 'Full Stack Developer.';
  animation: animate infinite 6s;
}



@keyframes animate{
  20%{
    content: 'Architect.';
  }
  40%{
    content: 'Designer.';
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80%{
    transform: translateX(10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}